<%= link_to "go back to products", products_path %>
<h2>Name: <%= @product.name%></h2>
<p>Price: <%= @product.price  %></p>


<%# link to seller's profile %>
<% @product.review.each do |review| %>
  <% sum_of_ratings += review.rating %>
<% end %>
<% if @product.review.count == 0 %>
  <p> This product has not been reviewed <p>
<% else %>
  <p>Average Rating: <%= "#{sum_of_ratings/@product.review.count} Reviews made: #{@product.review.count}" %></p>
<% end %>
