// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


//Pallete
$light-yellow: #F3C853;
$deep-yellow: #EB980A;
$eerie-black: #201E1F;
$platinum: #E1E0E0;
