.seller-name {
  color: grey;
}

.product-image {
  height: 80%;
  width: 60%;
}

.product-img {
  align-self: center;
  text-align-last: center;
}

.product-details {
  padding-top: 30px;
}

.seller-link {
  color: grey;
  text-decoration: none;

}
 .seller-link:hover {
    text-decoration: none;
    color: darkgrey;
  }
.fa-star {
  color: #FFC300;
}

.review-count {
  color: grey;
}

.product-name {
  font-size: 32px;
}

.add-cart-button {
  background-color: $deep-yellow;
  color: white;
  border: none;
  border-radius: 10px;
}

.add-cart-button:hover {
  background-color: $light-yellow;
}

#orders_to_product_quantity {
width: 100px;
}

.review-new {
  background-color: $deep-yellow;
  color: white;
  border: none;
  border-radius: 10px;
  text-decoration: none;
}

.review-new:hover {
  background-color: $light-yellow;
  }
