.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin:8px;


}


.card-trip:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cards a {
  text-decoration: none;
}

.card-trip{

  border-radius:4px;
  width:240px;
  box-shadow: 2px 2px 3px rgba(0,0,0,0.3);
  margin: auto;
  transition: box-shadow 0.3s ease-in-out;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card-trip-img {
border-radius: 4px 4px 0px 0px;
height: 200px;
width: 100%;
object-fit: contain;
}

.avatar-bordered {
  position:relative;
  bottom:112px;
  left:184px;
}

.empty{
  background-color: black;
}

.card-trip-infos{
 background-color: #fcf7f7;
 border-radius: 0px 0px 4px 4px;
}

.card-trip-infos  h2 {
  font-size:16px;
}


.card-trip-infos p {
  font-size:12px;
}

.card-trip-pricing {
  color: $deep-yellow;
  font-weight: bold;
}

.product-name {
  margin-top: 3px;
  color: $eerie-black;
  font-weight: bold;
}
