.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  // background:rgba(150,150,150,0.4);
    transition: 0.5s background-color ease;


}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.navbar-lewagon-white {
  background-color: white;
}
